@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Crimson+Text:ital,wght@0,300;0,400;0,600;1,400&family=Special+Elite&display=swap');

body {
  margin: 0;
  font-family: 'Crimson Text', 'Special Elite', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
